body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  width: 50%;
  text-align: center;
}

.head {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.submain {
  display: flex;
  justify-content: center;
}
.SubMain ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;

  width: 40vw;
}

.pro {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro:hover {
  background-color: #d1d1d1;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 8px 12px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  width: 120px;
}

.link div {
  text-align: center;
  font-weight: 600;
}

.link:hover {
  background: #0056b3;
}

.P {
  font-weight: 600;
  font-size: 24px;
}
