* {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 20px;
}

.main {
  color: #3aafa9;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 150px 150px 150px 150px;
  align-content: center;
  place-content: space-evenly;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3aafa9;
  padding: 20px;
  width: 900px;
  border-radius: 30px;
  display: flex;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.view {
  border: 2px solid #2b7a78;
  color: white;
  font-size: 20px;
}
