* {
  margin: 0px;
  padding: 0px;
}
body {
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(170, 250, 176);
  padding: 8px;
  border-radius: 50px;
  font-size: 15px;
  margin-left: 30px;
}

input {
  width: 120px;
  padding: 8px;
  font-size: 16px;
  margin: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
