body {
  font-family: Arial, sans-serif;
  text-align: center;
}
.main {
  padding: 20px;
}
.dark-theme {
  background: #333;
  color: white;
}
.light-theme {
  background: white;
  color: black;
}
.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.dark-btn {
  background: black;
  color: white;
}
.light-btn {
  background: lightgray;
  color: black;
}

.dark-btn:hover {
  background-color: grey;
  color: black;
}

.light-btn:hover {
  background: darkgray;
  color: white;
}

.height {
  height: 25px;
}

.weight {
  height: 25px;
}
